@charset "UTF-8";
/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,400;0,500;1,100&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-family: "Archivo", sans-serif;
  font-size: 16px;
  color: #121212;
  font-weight: 400;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.title {
  font-size: 50px;
  font-style: italic;
  font-weight: 100;
  line-height: 60px;
}

.caption {
  font-size: 14px;
  font-weight: 500;
  line-height: 16.8px;
  text-transform: uppercase;
}

.button {
  padding: 16px 24px 14px;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 19.2px;
  letter-spacing: 0.48px;
}

.socials {
  display: flex;
  width: 360px;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
  padding: 16px 40px;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #121212;
}
.header__nav-item {
  display: flex;
}
.header__nav-item-icons {
  display: none;
}
.header__item-link {
  padding: 24px 32px;
  border-right: 1px solid #121212;
  transition: all 0.3s ease-in-out;
}
.header__item-link:first-child {
  border-left: 1px solid #121212;
}
.header__item-link:hover {
  color: white;
  background-color: #121212;
}

@media (max-width: 768px) {
  .header__nav-item-links {
    display: none;
  }
  .header__nav-item-icons {
    display: flex;
  }
  .header__item-link {
    padding: 0;
  }
}
.category__content {
  display: flex;
  flex-direction: column;
  border-left: 1px solid #121212;
}
.category__about {
  display: flex;
}
.category__about-info {
  padding: 80px;
  border-bottom: 1px solid #121212;
}
.category__about-title {
  width: 560px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 68px;
  line-height: 80.4px;
  margin-bottom: 16px;
}
.category__about-desc {
  width: 560px;
  font-size: 18px;
  line-height: 25.2px;
  padding-bottom: 54px;
}
.category__about-desc-italic {
  font-style: italic;
}
.category__about-decor {
  display: flex;
  gap: 24px;
  padding-top: 24px;
  border-top: 1px solid #121212;
}
.category__about-img {
  padding-right: 24px;
  border-right: 1px solid #121212;
}
.category__about-caption {
  align-self: self-end;
  width: 280px;
  font-size: 14px;
  line-height: 16.8px;
}
.category__list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.category__list-item {
  display: flex;
}
.category__item-block {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 24px;
  justify-content: flex-end;
  width: 359px;
  border-bottom: 1px solid #121212;
}
.category__item-title {
  width: 312px;
  text-align: center;
  font-size: 38px;
  font-weight: 500;
  line-height: 45.6px;
}
.category__item-link {
  font-style: italic;
  font-weight: 100;
  line-height: 19.2px;
  letter-spacing: 0.4px;
  margin-top: 109px;
  position: relative;
}
.category__item-link-left {
  padding-right: 28px;
}
.category__item-link-left::after {
  position: absolute;
  width: 24px;
  height: 24px;
  content: "";
  bottom: -2px;
  background-image: url("../../img/arrow-right.png");
  right: 0;
}
.category__item-link-right {
  padding-left: 28px;
}
.category__item-link-right::after {
  position: absolute;
  width: 24px;
  height: 24px;
  content: "";
  bottom: -2px;
  background-image: url("../../img/arrow-left.png");
  left: 0;
}
.category__item-img {
  border-right: 1px solid #121212;
  width: 360px;
}

.left {
  border-left: 1px solid #121212;
}

.right {
  border-right: 1px solid #121212;
}

.story__content {
  display: flex;
  border-left: 1px solid #121212;
  border-right: 1px solid #121212;
}
.story__question {
  padding: 80px;
  border-top: 1px solid #121212;
}
.story__question-title {
  width: 560px;
}
.story__about {
  display: flex;
  flex-direction: column;
  padding: 80px;
  border-left: 1px solid #121212;
}
.story__about-caption {
  margin-bottom: 24px;
}
.story__about-title {
  font-size: 38px;
  font-weight: 500;
  line-height: 45.6px;
  margin-bottom: 16px;
}
.story__about-desc {
  line-height: 22.4px;
  width: 543px;
}
.story__about-btn {
  border: 1px solid #121212;
  margin-top: 64px;
  align-self: flex-start;
  transition: all 0.3s ease-in-out;
}
.story__about-btn:hover {
  color: white;
  background-color: #121212;
}

.advantages__content {
  display: flex;
  border: 1px solid #121212;
}
.advantages__question {
  padding: 80px;
  width: 721px;
}
.advantages__question-title {
  width: 360px;
}
.advantages__about {
  border-left: 1px solid #121212;
  width: 720px;
}
.advantages__list {
  display: flex;
  flex-direction: column;
}
.advantages__list-item {
  padding: 80px;
  border-bottom: 1px solid #121212;
}
.advantages__list-item-title {
  font-size: 38px;
  font-weight: 500;
  line-height: 45.6px;
  margin-bottom: 16px;
}
.advantages__list-item-text {
  line-height: 22.4px;
}
.advantages__list-item-item:last-child {
  border-bottom: none;
}

.contact__content {
  display: flex;
}
.contact__info {
  width: 720px;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #121212;
}
.contact__info-booking {
  display: flex;
  flex-direction: column;
  padding: 80px;
  border-bottom: 1px solid #121212;
}
.contact__info-booking-title {
  margin-bottom: 24px;
}
.contact__info-caption {
  font-size: 18px;
  font-weight: 500;
  line-height: 25.2px;
  margin-bottom: 16px;
}
.contact__info-form {
  display: flex;
  gap: 16px;
}
.contact__info-form-number {
  width: 272px;
  border: 1px solid #d2d2d7;
  padding: 16px;
  color: #121212;
  font-weight: 500;
  line-height: 16.8px;
}
.contact__info-form-btn {
  width: 272px;
  color: white;
  background-color: #121212;
  transition: all 0.3s ease-in-out;
}
.contact__info-form-btn:hover {
  color: white;
  background-color: #424245;
}
.contact__info-titles {
  display: flex;
  border-bottom: 1px solid #121212;
}
.contact__info-title {
  text-align: center;
  width: 360px;
  padding: 16px 10px;
  font-size: 38px;
  font-weight: 500;
  line-height: 45.6px;
  border-right: 1px solid #121212;
}
.contact__info-title:last-child {
  border-right: none;
}
.contact__info-block {
  display: flex;
  height: 100%;
}
.contact__info-block-item {
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px;
  gap: 22px;
  border-right: 1px solid #121212;
}
.contact__info-block-item:last-child {
  border-right: none;
}
.contact__info-number-text {
  font-style: italic;
  font-weight: 100;
  line-height: 19.2px;
  letter-spacing: 0.4px;
}
.contact__info-address-text {
  font-style: italic;
  font-weight: 100;
  line-height: 19.2px;
  letter-spacing: 0.4px;
}
.contact__decor {
  display: flex;
  flex-direction: column;
  width: 720px;
}
.contact__decor-wrap {
  display: flex;
}
.contact__decor-title {
  width: 360px;
  text-align: center;
  font-size: 38px;
  font-weight: 500;
  line-height: 45.6px;
  border-right: 1px solid #121212;
  border-left: 1px solid #121212;
  padding: 16px 40px;
}
.contact__decor-socials {
  border-right: 1px solid #121212;
}

.service__wrap {
  border-top: 1px solid #121212;
  border-right: 1px solid #121212;
  border-bottom: 1px solid #121212;
  display: flex;
  flex-direction: column;
}
.service__top {
  border-left: 1px solid #121212;
}
.service__top-title {
  padding: 80px 0;
  text-align: center;
  border-bottom: 1px solid #121212;
}
.service__content {
  display: flex;
}
.service__content-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px;
  justify-content: center;
}
.service__content-info-caption {
  margin-bottom: 24px;
}
.service__content-info-title {
  margin-bottom: 16px;
}
.service__content-info-text {
  width: 560px;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 25.2px;
  margin-bottom: 64px;
}
.service__content-info-btn {
  border: 1px solid #121212;
  transition: all 0.3s ease-in-out;
}
.service__content-info-btn:hover {
  background-color: #121212;
  color: white;
}

.wedding__wrap {
  background-image: url("./../../img/wedding-bg.png");
  background-size: cover;
  background-position: center center;
  height: 720px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}
.wedding__wrap::before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Цвет и уровень прозрачности (0.5 = 50%) */
}
.wedding__caption {
  margin-bottom: 24px;
}
.wedding__title {
  margin-bottom: 16px;
}
.wedding__text {
  text-align: center;
  width: 586px;
  margin-bottom: 64px;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 25.2px;
}
.wedding__btn {
  border: 1px solid white;
}

.reviews__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px;
  border-right: 1px solid #121212;
  border-left: 1px solid #121212;
}
.reviews__img {
  margin-bottom: 8px;
}
.reviews__caption {
  margin-bottom: 24px;
}
.reviews__title {
  margin-bottom: 16px;
}
.reviews__caruosel {
  display: flex;
  align-items: center;
  gap: 24px;
}
.reviews__arrow {
  cursor: pointer;
}
.reviews__quote {
  font-size: 30px;
  font-style: italic;
  font-weight: 400;
  line-height: 38.4px;
  text-align: center;
  margin-bottom: 16px;
}
.reviews__author {
  font-weight: 500;
  line-height: 19.2px;
  margin-bottom: 32px;
}
.reviews__circles {
  display: flex;
  gap: 4px;
  margin-bottom: 64px;
}
.reviews__circles img {
  cursor: pointer;
}
.reviews__btn {
  border: 1px solid #121212;
  transition: all 0.3s ease-in-out;
}
.reviews__btn:hover {
  background-color: #121212;
  color: white;
}

.footer__list {
  display: flex;
  border: 1px solid #121212;
}
.footer__list-item {
  display: flex;
  flex-direction: column;
  padding: 40px;
  border-right: 1px solid #121212;
}
.footer__list-item:last-child {
  border-right: none;
}
.footer__form {
  display: flex;
  flex-direction: column;
}
.footer__form-text {
  line-height: 22.4px;
  max-width: 280px;
  margin-bottom: 24px;
}
.footer__form-input {
  border: 1px solid #121212;
  padding: 16px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.8px;
  margin-bottom: 16px;
}
.footer__form-btn {
  background-color: #121212;
  color: white;
}
.footer__item-title {
  color: #808080;
  font-size: 21px;
  font-weight: 500;
  line-height: 25.2px;
  margin-bottom: 24px;
}
.footer__item-caption {
  font-size: 14px;
  color: #808080;
  font-weight: 400;
  line-height: 16.8px;
  margin-bottom: 8px;
}
.footer__item-text {
  font-weight: 500;
  line-height: 19.2px;
  letter-spacing: 0.4px;
  margin-bottom: 24px;
}
.footer__item-link {
  font-weight: 500;
  line-height: 19.2px;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}/*# sourceMappingURL=main.css.map */