@charset "UTF-8";
/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,400;0,500;1,100&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-family: "Archivo", sans-serif;
  font-size: 16px;
  color: #121212;
  font-weight: 400;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.title {
  font-size: 50px;
  font-style: italic;
  font-weight: 100;
  line-height: 60px;
}

.caption {
  font-size: 14px;
  font-weight: 500;
  line-height: 16.8px;
  text-transform: uppercase;
}

.button {
  padding: 16px 24px 14px;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 19.2px;
  letter-spacing: 0.48px;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
  padding: 16px 40px;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #121212;
}
.header__nav-item {
  display: flex;
}
.header__nav-item-icons {
  display: none;
}
.header__item-link {
  padding: 24px 32px;
  border-right: 1px solid #121212;
  transition: all 0.3s ease-in-out;
}
.header__item-link:first-child {
  border-left: 1px solid #121212;
}
.header__item-link:hover {
  color: white;
  background-color: #121212;
}

@media (max-width: 768px) {
  .header__nav-item-links {
    display: none;
  }
  .header__nav-item-icons {
    display: flex;
  }
  .header__item-link {
    padding: 0;
  }
}
.category__content {
  display: flex;
  flex-direction: column;
  border-left: 1px solid #121212;
}
.category__about {
  display: flex;
}
.category__about-info {
  max-width: 719px;
  padding: 80px;
  border-bottom: 1px solid #121212;
}
.category__about-title {
  max-width: 560px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 68px;
  line-height: 80.4px;
  margin-bottom: 16px;
}
.category__about-desc {
  max-width: 560px;
  font-size: 18px;
  line-height: 25.2px;
  padding-bottom: 54px;
}
.category__about-desc-italic {
  font-style: italic;
}
.category__about-decor {
  display: flex;
  gap: 24px;
  padding-top: 24px;
  border-top: 1px solid #121212;
}
.category__about-img {
  padding-right: 24px;
  border-right: 1px solid #121212;
}
.category__about-caption {
  align-self: self-end;
  max-width: 280px;
  font-size: 14px;
  line-height: 16.8px;
}
.category__list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.category__list-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.category__item-block {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 24px;
  justify-content: flex-end;
  border-bottom: 1px solid #121212;
}
.category__item-title {
  text-align: center;
  font-size: 38px;
  font-weight: 500;
  line-height: 45.6px;
}
.category__item-link {
  font-style: italic;
  font-weight: 100;
  line-height: 19.2px;
  letter-spacing: 0.4px;
  margin-top: 109px;
  position: relative;
}
.category__item-link-left {
  padding-right: 28px;
}
.category__item-link-left::after {
  position: absolute;
  width: 24px;
  height: 24px;
  content: "";
  bottom: -2px;
  background-image: url("../../img/arrow-right.png");
  right: 0;
}
.category__item-link-right {
  padding-left: 28px;
}
.category__item-link-right::after {
  position: absolute;
  width: 24px;
  height: 24px;
  content: "";
  bottom: -2px;
  background-image: url("../../img/arrow-left.png");
  left: 0;
}
.category__item-img {
  border-right: 1px solid #121212;
}

.left {
  border-left: 1px solid #121212;
}

.right {
  border-right: 1px solid #121212;
}

@media (max-width: 1440px) {
  .category__about {
    justify-content: center;
    flex-wrap: wrap;
  }
  .category__about-title {
    font-style: italic;
  }
  .category__list {
    align-items: center;
  }
}
@media (max-width: 720px) {
  .category__about-info {
    padding: 40px 16px;
  }
  .category__item-block {
    padding: 12px;
  }
  .category__item-link {
    margin-top: 112px;
  }
}
@media (max-width: 670px) {
  .category__item-link {
    margin-top: 93px;
  }
}
@media (max-width: 580px) {
  .category__item-title {
    font-size: 33px;
  }
  .category__item-link {
    margin-top: 77px;
  }
}
@media (max-width: 520px) {
  .category__item-title {
    font-size: 26px;
  }
  .category__item-link {
    margin-top: 63px;
  }
}
@media (max-width: 450px) {
  .category__about-title {
    font-size: 52px;
  }
  .category__item-title {
    font-size: 22px;
  }
  .category__item-link {
    margin-top: 43px;
  }
}
@media (max-width: 360px) {
  .category__item-title {
    font-size: 20px;
  }
  .category__item-link {
    margin-top: 37px;
  }
}
.story__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-left: 1px solid #121212;
  border-right: 1px solid #121212;
}
.story__question {
  padding: 80px;
  border-top: 1px solid #121212;
}
.story__question-title {
  max-width: 560px;
}
.story__about {
  display: flex;
  flex-direction: column;
  padding: 80px;
  border-left: 1px solid #121212;
}
.story__about-caption {
  margin-bottom: 24px;
}
.story__about-title {
  font-size: 38px;
  font-weight: 500;
  line-height: 45.6px;
  margin-bottom: 16px;
}
.story__about-desc {
  line-height: 22.4px;
}
.story__about-btn {
  border: 1px solid #121212;
  margin-top: 64px;
  align-self: flex-start;
  transition: all 0.3s ease-in-out;
}
.story__about-btn:hover {
  color: white;
  background-color: #121212;
}

@media (max-width: 1440px) {
  .story__content {
    display: flex;
    flex-direction: column;
  }
  .story__question {
    padding: 70px;
    border-bottom: 1px solid #121212;
  }
}
@media (max-width: 900px) {
  .story__question {
    padding: 60px;
  }
}
@media (max-width: 600px) {
  .story__question {
    padding: 45px;
  }
  .story__about {
    padding: 40px 20px;
  }
}
.advantages__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 1px solid #121212;
}
.advantages__question {
  padding: 80px;
}
.advantages__question-title {
  max-width: 360px;
}
.advantages__about {
  border-left: 1px solid #121212;
}
.advantages__list {
  display: flex;
  flex-direction: column;
}
.advantages__list-item {
  padding: 80px;
  border-bottom: 1px solid #121212;
}
.advantages__list-item-title {
  font-size: 38px;
  font-weight: 500;
  line-height: 45.6px;
  margin-bottom: 16px;
}
.advantages__list-item-text {
  line-height: 22.4px;
}
.advantages__list-item-item:last-child {
  border-bottom: none;
}

@media (max-width: 1440px) {
  .advantages__content {
    display: flex;
    flex-direction: column;
  }
  .advantages__question {
    padding: 70px;
    border-bottom: 1px solid #121212;
  }
  .advantages__about {
    border-left: 0;
  }
}
@media (max-width: 900px) {
  .advantages__question {
    padding: 60px;
  }
  .advantages__list-item {
    padding: 60px;
  }
}
@media (max-width: 700px) {
  .advantages__question {
    padding: 50px;
  }
  .advantages__list-item {
    padding: 50px;
  }
}
@media (max-width: 500px) {
  .advantages__question {
    padding: 40px;
  }
  .advantages__question-title {
    font-size: 38px;
  }
  .advantages__list-item {
    padding: 40px 20px;
  }
  .advantages__list-item-title {
    font-size: 30px;
  }
}
.contact__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.contact__info {
  display: flex;
  flex-direction: column;
  border-left: 1px solid #121212;
}
.contact__info-booking {
  display: flex;
  flex-direction: column;
  padding: 80px;
  border-bottom: 1px solid #121212;
}
.contact__info-booking-title {
  margin-bottom: 24px;
}
.contact__info-caption {
  font-size: 18px;
  font-weight: 500;
  line-height: 25.2px;
  margin-bottom: 16px;
}
.contact__info-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}
.contact__info-form-number {
  border: 1px solid #d2d2d7;
  padding: 16px;
  color: #121212;
  font-weight: 500;
  line-height: 16.8px;
}
.contact__info-form-btn {
  color: white;
  background-color: #121212;
  transition: all 0.3s ease-in-out;
}
.contact__info-form-btn:hover {
  color: white;
  background-color: #424245;
}
.contact__info-titles {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 1px solid #121212;
}
.contact__info-title {
  text-align: center;
  padding: 16px 10px;
  font-size: 38px;
  font-weight: 500;
  line-height: 45.6px;
  border-right: 1px solid #121212;
}
.contact__info-title:last-child {
  border-right: none;
}
.contact__info-block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
}
.contact__info-block-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px;
  gap: 22px;
  border-right: 1px solid #121212;
}
.contact__info-block-item:last-child {
  border-right: none;
}
.contact__info-number-text {
  font-style: italic;
  font-weight: 100;
  line-height: 19.2px;
  letter-spacing: 0.4px;
}
.contact__info-address-text {
  font-style: italic;
  font-weight: 100;
  line-height: 19.2px;
  letter-spacing: 0.4px;
}
.contact__decor {
  display: flex;
  flex-direction: column;
}
.contact__decor-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.contact__decor-title {
  text-align: center;
  font-size: 38px;
  font-weight: 500;
  line-height: 45.6px;
  border-right: 1px solid #121212;
  border-left: 1px solid #121212;
  padding: 16px 40px;
}
.contact__decor-socials {
  border-right: 1px solid #121212;
  gap: 24px;
}

@media (max-width: 1200px) {
  .contact__content {
    display: flex;
    flex-direction: column-reverse;
  }
  .contact__decor-img img {
    width: 100%;
  }
  .contact__decor-wrap {
    border-bottom: 1px solid #121212;
  }
  .contact__decor-socials {
    padding: 16px 60px;
  }
}
@media (max-width: 655px) {
  .contact__info-booking {
    padding: 60px;
  }
  .contact__info-booking-title {
    font-size: 45px;
  }
  .contact__info-title {
    font-size: 32px;
  }
  .contact__decor-title {
    font-size: 32px;
    padding: 16px 35px;
  }
  .contact__decor-socials {
    padding: 16px 35px;
  }
}
@media (max-width: 539px) {
  .contact__info-booking {
    padding: 40px;
  }
  .contact__info-booking-title {
    font-size: 35px;
    margin-bottom: 16px;
  }
  .contact__info-form {
    display: flex;
    flex-direction: column;
  }
  .contact__info-caption {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .contact__info-title {
    font-size: 24px;
    padding: 8px 16px;
  }
  .contact__info-block-caption {
    font-size: 12px;
  }
  .contact__info-number-text {
    font-size: 14px;
  }
  .contact__info-address-text {
    font-size: 14px;
  }
  .contact__decor-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-right: 1px solid #121212;
    border-left: 1px solid #121212;
  }
  .contact__decor-title {
    border-right: 0;
    border-left: 0;
    padding: 16px 20px 8px;
  }
  .contact__decor-socials {
    border-right: 0;
    gap: 32px;
    padding: 16px 20px;
  }
}
.service__wrap {
  border-top: 1px solid #121212;
  border-right: 1px solid #121212;
  border-bottom: 1px solid #121212;
  display: flex;
  flex-direction: column;
}
.service__top {
  border-left: 1px solid #121212;
}
.service__top-title {
  padding: 80px 0;
  text-align: center;
  border-bottom: 1px solid #121212;
}
.service__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.service__content-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px;
  justify-content: center;
}
.service__content-info-caption {
  margin-bottom: 24px;
}
.service__content-info-title {
  margin-bottom: 16px;
}
.service__content-info-text {
  max-width: 560px;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 25.2px;
  margin-bottom: 64px;
}
.service__content-info-btn {
  border: 1px solid #121212;
  transition: all 0.3s ease-in-out;
}
.service__content-info-btn:hover {
  background-color: #121212;
  color: white;
}

@media (max-width: 1155px) {
  .service__top-title {
    padding: 60px 0;
  }
  .service__content-info-caption {
    margin-bottom: 18px;
  }
  .service__content-info-title {
    font-size: 40px;
    margin-bottom: 12px;
  }
  .service__content-info-text {
    margin-bottom: 45px;
  }
}
@media (max-width: 1000px) {
  .service__top-title {
    padding: 45px 0;
  }
  .service__content-info {
    padding: 55px;
  }
  .service__content-info-caption {
    margin-bottom: 12px;
  }
  .service__content-info-title {
    font-size: 35px;
    margin-bottom: 10px;
  }
  .service__content-info-text {
    margin-bottom: 35px;
  }
}
@media (max-width: 870px) {
  .service__top-title {
    font-size: 45px;
    padding: 40px 0;
  }
  .service__content-info {
    padding: 40px;
  }
  .service__content-info-caption {
    margin-bottom: 8px;
  }
  .service__content-info-title {
    font-size: 30px;
    margin-bottom: 8px;
  }
  .service__content-info-text {
    margin-bottom: 25px;
  }
}
@media (max-width: 750px) {
  .service__top-title {
    font-size: 40px;
    padding: 35px 0;
  }
  .service__content {
    display: flex;
    flex-direction: column;
  }
  .service__content-img img {
    width: 100%;
    height: 500px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media (max-width: 500px) {
  .service__top-title {
    font-size: 35px;
    padding: 25px 0;
  }
  .service__content-img img {
    height: 420px;
  }
  .service__content-info {
    padding: 25px;
  }
  .service__content-info-btn {
    margin-top: 22px;
    margin-bottom: 12px;
    width: 100%;
  }
}
.wedding__wrap {
  background-image: url("./../../img/wedding-bg.png");
  background-size: cover;
  background-position: center center;
  height: 720px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}
.wedding__wrap::before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Цвет и уровень прозрачности (0.5 = 50%) */
}
.wedding__caption {
  margin-bottom: 24px;
}
.wedding__title {
  margin-bottom: 16px;
}
.wedding__text {
  text-align: center;
  max-width: 586px;
  margin-bottom: 64px;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 25.2px;
}
.wedding__btn {
  border: 1px solid white;
}

@media (max-width: 1000px) {
  .wedding__wrap {
    height: 650px;
  }
  .wedding__caption {
    margin-bottom: 12px;
  }
  .wedding__text {
    margin-bottom: 50px;
  }
}
@media (max-width: 760px) {
  .wedding__wrap {
    height: 500px;
  }
  .wedding__caption {
    margin-bottom: 5px;
  }
  .wedding__title {
    font-size: 45px;
    margin-bottom: 12px;
  }
  .wedding__text {
    max-width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 40px;
  }
}
@media (max-width: 500px) {
  .wedding__wrap {
    height: 416px;
  }
  .wedding__caption {
    margin-bottom: 2px;
  }
  .wedding__title {
    font-size: 35px;
    margin-bottom: 8px;
  }
  .wedding__text {
    max-width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 25px;
  }
  .wedding__btn {
    padding: 10px 24px 10px;
  }
}
.reviews__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px;
  border-right: 1px solid #121212;
  border-left: 1px solid #121212;
}
.reviews__img {
  margin-bottom: 8px;
}
.reviews__caption {
  margin-bottom: 24px;
}
.reviews__title {
  margin-bottom: 16px;
}
.reviews__caruosel {
  display: flex;
  align-items: center;
  gap: 24px;
}
.reviews__arrow {
  cursor: pointer;
}
.reviews__quote {
  font-size: 32px;
  font-style: italic;
  font-weight: 400;
  line-height: 38.4px;
  text-align: center;
  margin-bottom: 16px;
}
.reviews__author {
  font-weight: 500;
  line-height: 19.2px;
  margin-bottom: 32px;
}
.reviews__circles {
  display: flex;
  gap: 4px;
  margin-bottom: 64px;
}
.reviews__circles img {
  cursor: pointer;
}
.reviews__btn {
  border: 1px solid #121212;
  transition: all 0.3s ease-in-out;
}
.reviews__btn:hover {
  background-color: #121212;
  color: white;
}

@media (max-width: 1100px) {
  .reviews__content {
    padding: 60px;
  }
  .reviews__title {
    font-size: 45px;
  }
  .reviews__arrow {
    display: none;
  }
  .reviews__circles {
    margin-bottom: 45px;
  }
}
@media (max-width: 780px) {
  .reviews__content {
    padding: 40px;
  }
  .reviews__caption {
    margin-bottom: 12px;
  }
  .reviews__title {
    font-size: 43px;
    margin-bottom: 8px;
  }
  .reviews__author {
    margin-bottom: 24px;
  }
  .reviews__quote {
    font-size: 29px;
  }
  .reviews__circles {
    margin-bottom: 35px;
  }
}
@media (max-width: 500px) {
  .reviews__content {
    padding: 20px;
  }
  .reviews__caption {
    margin-bottom: 6px;
  }
  .reviews__title {
    font-size: 39px;
    margin-bottom: 2px;
  }
  .reviews__quote {
    font-size: 22px;
  }
  .reviews__author {
    margin-bottom: 12px;
  }
  .reviews__circles {
    margin-bottom: 25px;
  }
}
.footer__list {
  display: flex;
  border: 1px solid #121212;
}
.footer__list-item {
  display: flex;
  flex-direction: column;
  padding: 40px;
  border-right: 1px solid #121212;
}
.footer__list-item:last-child {
  border-right: none;
}
.footer__form {
  display: flex;
  flex-direction: column;
}
.footer__form-text {
  line-height: 22.4px;
  max-width: 280px;
  margin-bottom: 24px;
}
.footer__form-input {
  border: 1px solid #121212;
  padding: 16px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.8px;
  margin-bottom: 16px;
}
.footer__form-btn {
  background-color: #121212;
  color: white;
}
.footer__item-title {
  color: #808080;
  font-size: 21px;
  font-weight: 500;
  line-height: 25.2px;
  margin-bottom: 24px;
}
.footer__item-caption {
  font-size: 14px;
  color: #808080;
  font-weight: 400;
  line-height: 16.8px;
  margin-bottom: 8px;
}
.footer__item-text {
  font-weight: 500;
  line-height: 19.2px;
  letter-spacing: 0.4px;
  margin-bottom: 24px;
}
.footer__item-link {
  font-weight: 500;
  line-height: 19.2px;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}

@media (max-width: 1200px) {
  .footer__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .footer__list-item {
    border-bottom: 1px solid #121212;
  }
  .footer__list-item:last-child {
    border-right: 1px solid #121212;
  }
}
@media (max-width: 800px) {
  .footer__item-socials {
    padding: 10px;
  }
}
@media (max-width: 670px) {
  .footer__form-text {
    max-width: 100%;
  }
  .footer__list {
    grid-template-columns: 1fr;
  }
}/*# sourceMappingURL=main.css.map */