.advantages {
    &__content {
        display: flex;
        border: $border;
    }
    &__question {
        padding: 80px;
        width: 721px;

        &-title {
            width: 360px;
        }
    }
    &__about {
        border-left: $border;
        width: 720px;
    }
    &__list {
        display: flex;
        flex-direction: column;

        &-item {
            padding: 80px;
            border-bottom: $border;

            &-title {
                font-size: 38px;
                font-weight: 500;
                line-height: 45.6px;
                margin-bottom: 16px;
            }
            &-text {
                line-height: 22.4px;
            }
            &-item:last-child {
                border-bottom: none;
            }
        }
    }
}
