.advantages {
    &__content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        border: $border;
    }
    &__question {
        padding: 80px;

        &-title {
            max-width: 360px;
        }
    }
    &__about {
        border-left: $border;
    }
    &__list {
        display: flex;
        flex-direction: column;

        &-item {
            padding: 80px;
            border-bottom: $border;

            &-title {
                font-size: 38px;
                font-weight: 500;
                line-height: 45.6px;
                margin-bottom: 16px;
            }
            &-text {
                line-height: 22.4px;
            }
            &-item:last-child {
                border-bottom: none;
            }
        }
    }
}

@media (max-width: 1440px) {
    .advantages {
        &__content {
            display: flex;
            flex-direction: column;
        }
        &__question {
            padding: 70px;
            border-bottom: $border;
        }
        &__about {
            border-left: 0;
        }
    }
}
@media (max-width: 900px) {
    .advantages {
        &__question {
            padding: 60px;
        }
        &__list {
            &-item {
                padding: 60px;
            }
        }
    }
}
@media (max-width: 700px) {
    .advantages {
        &__question {
            padding: 50px;
        }
        &__list {
            &-item {
                padding: 50px;
            }
        }
    }
}
@media (max-width: 500px) {
    .advantages {
        &__question {
            padding: 40px;
            &-title {
                font-size: 38px;
            }
        }
        &__list {
            &-item {
                padding: 40px 20px;

                &-title {
                    font-size: 30px;
                }
            }
        }
    }
}
