.contact {
    &__content {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    &__info {
        display: flex;
        flex-direction: column;
        border-left: $border;

        &-booking {
            display: flex;
            flex-direction: column;
            padding: 80px;
            border-bottom: $border;
            &-title {
                margin-bottom: 24px;
            }
        }
        &-caption {
            font-size: 18px;
            font-weight: 500;
            line-height: 25.2px;
            margin-bottom: 16px;
        }
        &-form {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 16px;

            &-number {
                border: 1px solid #d2d2d7;
                padding: 16px;
                color: $black;
                font-weight: 500;
                line-height: 16.8px;
            }
            &-btn {
                color: white;
                background-color: $black;
                transition: all 0.3s ease-in-out;

                &:hover {
                    color: white;
                    background-color: $dark-grey;
                }
            }
        }

        &-titles {
            display: grid;
            grid-template-columns: 1fr 1fr;
            border-bottom: $border;
        }
        &-title {
            text-align: center;
            padding: 16px 10px;
            font-size: 38px;
            font-weight: 500;
            line-height: 45.6px;
            border-right: $border;

            &:last-child {
                border-right: none;
            }
        }
        &-block {
            display: grid;
            grid-template-columns: 1fr 1fr;
            height: 100%;
            &-item {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 24px;
                gap: 22px;
                border-right: $border;

                &:last-child {
                    border-right: none;
                }
            }
        }
        &-number-text {
            font-style: italic;
            font-weight: 100;
            line-height: 19.2px;
            letter-spacing: 0.4px;
        }
        &-address {
            &-text {
                font-style: italic;
                font-weight: 100;
                line-height: 19.2px;
                letter-spacing: 0.4px;
            }
        }
    }

    &__decor {
        display: flex;
        flex-direction: column;

        &-wrap {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        &-title {
            text-align: center;
            font-size: 38px;
            font-weight: 500;
            line-height: 45.6px;
            border-right: $border;
            border-left: $border;
            padding: 16px 40px;
        }
        &-socials {
            border-right: $border;
            gap: 24px;
        }
    }
}

@media (max-width: 1200px) {
    .contact {
        &__content {
            display: flex;
            flex-direction: column-reverse;
        }
        &__decor {
            &-img img {
                width: 100%;
            }
            &-wrap {
                border-bottom: $border;
            }
            &-socials {
                padding: 16px 60px;
            }
        }
    }
}
@media (max-width: 655px) {
    .contact {
        &__info {
            &-booking {
                padding: 60px;
                &-title {
                    font-size: 45px;
                }
            }
            &-title {
                font-size: 32px;
            }
        }
        &__decor {
            &-title {
                font-size: 32px;
                padding: 16px 35px;
            }
            &-socials {
                padding: 16px 35px;
            }
        }
    }
}

@media (max-width: 539px) {
    .contact {
        &__info {
            &-booking {
                padding: 40px;

                &-title {
                    font-size: 35px;
                    margin-bottom: 16px;
                }
            }
            &-form {
                display: flex;
                flex-direction: column;
            }
            &-caption {
                font-size: 16px;
                margin-bottom: 10px;
            }
            &-title {
                font-size: 24px;
                padding: 8px 16px;
            }
            &-block {
                &-caption {
                    font-size: 12px;
                }
            }
            &-number-text {
                font-size: 14px;
            }
            &-address-text {
                font-size: 14px;
            }
        }
        &__decor {
            &-wrap {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                border-right: $border;
                border-left: $border;
            }
            &-title {
                border-right: 0;
                border-left: 0;
                padding: 16px 20px 8px;
            }
            &-socials {
                border-right: 0;
                gap: 32px;
                padding: 16px 20px;
            }
        }
    }
}
