.contact {
    &__content {
        display: flex;
    }

    &__info {
        width: 720px;
        display: flex;
        flex-direction: column;
        border-left: $border;

        &-booking {
            display: flex;
            flex-direction: column;
            padding: 80px;
            border-bottom: $border;
            &-title {
                font-size: 50px;
                font-style: italic;
                font-weight: 100;
                line-height: 60px;
                margin-bottom: 24px;
            }
        }
        &-caption {
            font-size: 18px;
            font-weight: 500;
            line-height: 25.2px;
            margin-bottom: 16px;
        }
        &-form {
            display: flex;
            gap: 16px;

            &-number {
                width: 272px;
                border: 1px solid #d2d2d7;
                padding: 16px;
                color: $black;
                font-weight: 500;
                line-height: 16.8px;
            }
            &-btn {
                width: 272px;
                padding: 16px 24px 14px;
                color: white;
                background-color: $black;
                text-transform: uppercase;
                font-size: 16px;
                font-weight: 500;
                line-height: 19.2px;
                letter-spacing: 0.48px;
                transition: all 0.3s ease-in-out;

                &:hover {
                    color: white;
                    background-color: $dark-grey;
                }
            }
        }

        &-titles {
            display: flex;
            border-bottom: $border;
        }
        &-title {
            text-align: center;
            width: 360px;
            padding: 16px 10px;
            font-size: 38px;
            font-weight: 500;
            line-height: 45.6px;
            border-right: $border;

            &:last-child {
                border-right: none;
            }
        }
        &-block {
            display: flex;
            height: 100%;
            &-item {
                width: 360px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 24px;
                gap: 22px;
                border-right: $border;

                &:last-child {
                    border-right: none;
                }
            }
        }
        &-number-text {
            font-style: italic;
            font-weight: 100;
            line-height: 19.2px;
            letter-spacing: 0.4px;
        }
        &-address {
            &-caption {
                font-weight: 500;
                line-height: 16.8px;
                text-transform: uppercase;
            }
            &-text {
                font-style: italic;
                font-weight: 100;
                line-height: 19.2px;
                letter-spacing: 0.4px;
            }
        }
    }

    &__decor {
        display: flex;
        flex-direction: column;
        width: 720px;
        &-wrap {
            display: flex;
        }
        &-title {
            width: 360px;
            text-align: center;
            font-size: 38px;
            font-weight: 500;
            line-height: 45.6px;
            border-right: $border;
            border-left: $border;
            padding: 16px 40px;
        }
        &-socials {
            display: flex;
            width: 360px;
            align-items: center;
            justify-content: space-between;
            gap: 32px;
            padding: 16px 40px;
            border-right: $border;
        }
    }
}
