.footer {
    &__list {
        display: flex;
        border: $border;

        &-item {
            display: flex;
            flex-direction: column;
            padding: 40px;
            border-right: $border;

            &:last-child {
                border-right: none;
            }
        }
    }
    &__form {
        display: flex;
        flex-direction: column;

        &-text {
            line-height: 22.4px;
            max-width: 280px;
            margin-bottom: 24px;
        }
        &-input {
            border: $border;
            padding: 16px;
            font-size: 14px;
            font-weight: 500;
            line-height: 16.8px;
            margin-bottom: 16px;
        }
        &-btn {
            background-color: $black;
            color: white;
        }
    }
    &__item-title {
        color: $light-grey;
        font-size: 21px;
        font-weight: 500;
        line-height: 25.2px;
        margin-bottom: 24px;
    }
    &__item-caption {
        font-size: 14px;
        color: $light-grey;
        font-weight: 400;
        line-height: 16.8px;
        margin-bottom: 8px;
    }
    &__item-text {
        font-weight: 500;
        line-height: 19.2px;
        letter-spacing: 0.4px;
        margin-bottom: 24px;
    }
    &__item-link {
        font-weight: 500;
        line-height: 19.2px;
        letter-spacing: 0.4px;
        margin-bottom: 8px;
    }
}

@media (max-width: 1200px) {
    .footer {
        &__list {
            display: grid;
            grid-template-columns: 1fr 1fr;

            &-item {
                border-bottom: $border;

                &:last-child {
                    border-right: $border;
                }
            }
        }
    }
}
@media (max-width: 800px) {
    .footer {
        &__item-socials {
            padding: 10px;
        }
    }
}
@media (max-width: 670px) {
    .footer {
        &__form-text {
            max-width: 100%;
        }
        &__list {
            grid-template-columns: 1fr;
        }
    }
}
