.header {
    &__nav {
        display: flex;
        justify-content: space-between;
        border-bottom: $border;

        &-item {
            display: flex;
        }
    }
    &__item-link {
        padding: 24px 32px;
        border-right: $border;
        transition: all 0.3s ease-in-out;

        &:first-child {
            border-left: $border;
        }
        &:hover {
            color: white;
            background-color: $black;
        }
    }
}
