.header {
    &__nav {
        display: flex;
        justify-content: space-between;
        border-bottom: $border;

        &-item {
            display: flex;
        }
    }
    &__item-link {
        padding: 24px 32px;
        border-right: $border;

        &:first-child {
            border-left: $border;
        }
    }
}
