.reviews {
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 80px;
        border-right: $border;
        border-left: $border;
    }
    &__img {
        margin-bottom: 8px;
    }
    &__caption {
        margin-bottom: 24px;
    }
    &__title {
        margin-bottom: 16px;
    }
    &__caruosel {
        display: flex;
        align-items: center;
        gap: 24px;
    }
    &__arrow {
        cursor: pointer;
    }
    &__quote {
        font-size: 32px;
        font-style: italic;
        font-weight: 400;
        line-height: 38.4px;
        text-align: center;
        margin-bottom: 16px;
    }
    &__author {
        font-weight: 500;
        line-height: 19.2px;
        margin-bottom: 32px;
    }
    &__circles {
        display: flex;
        gap: 4px;
        margin-bottom: 64px;

        img {
            cursor: pointer;
        }
    }
    &__btn {
        border: $border;
        transition: all 0.3s ease-in-out;

        &:hover {
            background-color: $black;
            color: white;
        }
    }
}

@media (max-width: 1100px) {
    .reviews {
        &__content {
            padding: 60px;
        }
        &__title {
            font-size: 45px;
        }
        &__arrow {
            display: none;
        }
        &__circles {
            margin-bottom: 45px;
        }
    }
}

@media (max-width: 780px) {
    .reviews {
        &__content {
            padding: 40px;
        }
        &__caption {
            margin-bottom: 12px;
        }
        &__title {
            font-size: 43px;
            margin-bottom: 8px;
        }
        &__author {
            margin-bottom: 24px;
        }
        &__quote {
            font-size: 29px;
        }
        &__circles {
            margin-bottom: 35px;
        }
    }
}
@media (max-width: 500px) {
    .reviews {
        &__content {
            padding: 20px;
        }
        &__caption {
            margin-bottom: 6px;
        }
        &__title {
            font-size: 39px;
            margin-bottom: 2px;
        }
        &__quote {
            font-size: 22px;
        }
        &__author {
            margin-bottom: 12px;
        }
        &__circles {
            margin-bottom: 25px;
        }
    }
}
