.service {
    &__wrap {
        border-top: $border;
        border-right: $border;
        border-bottom: $border;
        display: flex;
        flex-direction: column;
    }
    &__top {
        border-left: $border;

        &-title {
            padding: 80px 0;
            text-align: center;
            border-bottom: $border;
        }
    }
    &__content {
        display: flex;

        &-info {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 80px;
            justify-content: center;

            &-caption {
                margin-bottom: 24px;
            }
            &-title {
                margin-bottom: 16px;
            }
            &-text {
                width: 560px;
                text-align: center;
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: 25.2px;
                margin-bottom: 64px;
            }
            &-btn {
                border: $border;
                transition: all 0.3s ease-in-out;

                &:hover {
                    background-color: $black;
                    color: white;
                }
            }
        }
    }
}
