.story {
    &__content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        border-left: $border;
        border-right: $border;
    }
    &__question {
        padding: 80px;
        border-top: $border;

        &-title {
            max-width: 560px;
        }
    }
    &__about {
        display: flex;
        flex-direction: column;
        padding: 80px;
        border-left: $border;

        &-caption {
            margin-bottom: 24px;
        }
        &-title {
            font-size: 38px;
            font-weight: 500;
            line-height: 45.6px;
            margin-bottom: 16px;
        }
        &-desc {
            line-height: 22.4px;
        }
        &-btn {
            border: $border;
            margin-top: 64px;
            align-self: flex-start;
            transition: all 0.3s ease-in-out;

            &:hover {
                color: white;
                background-color: $black;
            }
        }
    }
}

@media (max-width: 1440px) {
    .story {
        &__content {
            display: flex;
            flex-direction: column;
        }
        &__question {
            padding: 70px;
            border-bottom: $border;
        }
    }
}
@media (max-width: 900px) {
    .story {
        &__question {
            padding: 60px;
        }
    }
}
@media (max-width: 600px) {
    .story {
        &__question {
            padding: 45px;
        }
        &__about {
            padding: 40px 20px;
        }
    }
}
