.story {
    &__content {
        display: flex;
        border-left: $border;
        border-right: $border;
    }
    &__question {
        padding: 80px;
        border-top: $border;

        &-title {
            width: 560px;
        }
    }
    &__about {
        display: flex;
        flex-direction: column;
        padding: 80px;
        border-left: $border;

        &-caption {
            margin-bottom: 24px;
        }
        &-title {
            font-size: 38px;
            font-weight: 500;
            line-height: 45.6px;
            margin-bottom: 16px;
        }
        &-desc {
            line-height: 22.4px;
            width: 543px;
        }
        &-btn {
            border: $border;
            margin-top: 64px;
            align-self: flex-start;
            transition: all 0.3s ease-in-out;

            &:hover {
                color: white;
                background-color: $black;
            }
        }
    }
}
