@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,400;0,500;1,100&display=swap');

body {
    font-family: 'Archivo', sans-serif;
    font-size: 16px;
    color: $black;
    font-weight: 400;
}

.container {
    width: 1440px;
    margin: 0 auto;
}
